.header {
	padding: 21px 0;

	.header-logo {
		float: left;
		width: 39px;
		margin-top: 10px;
		margin-bottom: -8px;
	}

	.header-contact {
		padding: 0;
		float: right;
		margin: 0 -9px;
		list-style: none;

		> li {

			margin: 0 9px;

			.tel {
				color: #fff;
				font-size: 24px;
				font-weight: 700;
				line-height: 42px;
				text-decoration: none;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.header-logo {
			margin-top: 0;
		}

		.header-contact {

			> li {
				float: left;

				&:last-child {
					display: block;
				}
			}
		}
	}
}

.main {
	padding-top: 50px;
	padding-bottom: 45px;
}

h1 {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.1;
	text-align: center;
	margin-bottom: 10px;
	text-transform: uppercase;

	@media (min-width: $screen-sm-min) {
		font-size: 30px;
	}

	@media (min-width: $screen-md-min) {
		font-size: 40px;
	}


	@media (min-width: $screen-lg-min) {
		font-size: 48px;
	}
}

.subtitle {
	font-size: 18px;
	font-weight: 300;
	line-height: 1.45;
	text-align: center;
	margin-bottom: 40px;

	span {
		color: #d1ae52;
		display: block;
		font-weight: 400;
	}

	@media (min-width: $screen-sm-min) {
		font-size: 24px;
	}
}

.content-block {

	.content-video {
		position: relative;
		margin-bottom: 20px;

		.video-box-inner {
			position: relative;
		}
	}

	.content-text {
		padding: 25px;
		border: 1px solid #d1ae52;

		h2 {
			font-size: 24px;
			font-weight: 500;
			line-height: 30px;
			margin-bottom: 15px;
			text-transform: uppercase;
		}
	}

	.mute {
		top: 50%;
		left: 50%;
		width: 80px;
		z-index: 100;
		color: #d1ae52;
		font-size: 10px;
		font-weight: 300;
		line-height: 11px;
		padding-top: 90px;
		margin-left: -40px;
		margin-top: -50px;
		position: absolute;
		text-align: center;
		cursor: pointer;
		display: inline-block;
		background: url("../img/icon-mute.png") 50% 0 no-repeat;
		background-size: contain;
	}

	@media (min-width: $screen-md-min) {

		.mute {
			width: 108px;
			font-size: 14px;
			padding-top: 120px;
		}
	}

	@media (min-width: $screen-md-min) {
		width: 100%;
		display: table;

		.content-video {
			margin-bottom: 0;
			padding-right: 20px;
			display: table-cell;

			.video-box {
				top: 0;
				left: 0;
				right: 20px;
				height: 100%;
				position: absolute;
			}

			.video-box-inner {
				width: 100%;
				height: 100%;
				overflow: hidden;
			}
		}


		.content-text {
			width: 40%;
			display: table-cell;
			vertical-align: top;
		}

		video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: block;
		}
	}

	@media (min-width: $screen-lg-min) {
		margin-left: -15px;
		margin-right: -15px;


		.content-video {
			padding-right: 35px;

			.video-box {
				right: 35px;
			}
		}
		.content-text {
			width: 420px;
		}

	}
}



.info {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		width: 100%;
		font-size: 18px;
		font-weight: 300;
		line-height: 20px;
		margin-bottom: 15px;

		span {
			min-height: 42px;
			display: block;
			vertical-align: middle;
			padding: 0 0 0 60px;
		}

		&:nth-child(1) {
			background: url("../img/item_01.png") 0 0 no-repeat;
		}

		&:nth-child(2) {
			background: url("../img/item_02.png") 0 0 no-repeat;
		}

		&:nth-child(3) {
			background: url("../img/item_03.png") 0 0 no-repeat;
		}

		&:nth-child(4) {
			background: url("../img/item_04.png") 0 0 no-repeat;
		}

		&:nth-child(5) {
			margin-bottom: 0;
			background: url("../img/item_05.png") 0 0 no-repeat;
		}
	}

	@media (min-width: $screen-sm-min) {

		li {
			display: table;

			span {
				height: 42px;
				display: table-cell;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		li {
			margin-bottom: 30px;
		}
	}
}


/* 1. No object-fit support: */
@media (min-aspect-ratio: 16/9) {
	video {
		height: 300%; top: -100%;
	}

}

@media (max-aspect-ratio: 16/9) {
	video {
		width: 300%; left: -100%;
	}
}

/* 2. If supporting object-fit, overriding (1): */
@supports (object-fit: cover) {
	video {
		top: 0; left: 0;
		width: 100%; height: 100%;
		object-fit: cover;
	}
}


.modal {
	color: #15253c;
	max-width: 300px;
	padding: 25px 20px;
	background: #fff;

	h2 {
		font-size: 24px;
		line-height: 28px;
		text-align: center;
		margin-bottom: 25px;
		text-transform: uppercase;
	}

	.btn {
		width: 100%;
		color: #15253c;
		border-color: #15253c;

		&:hover {
			color: #fff;
			background: #15253c;
		}
	}

	@media (min-width: $screen-sm-min) {
		width: 440px;
		max-width: inherit;
		padding: 25px 45px;
	}
}