.footer {
	padding-top: 40px;
	text-align: center;
	padding-bottom: 10px;
	background: rgba(0,0,0, 0.3);

	.footer-top {
		margin-bottom: 30px;

		.footer-text {
			font-size: 24px;
			font-weight: 300;
			line-height: 30px;
			text-transform: uppercase;
		}

		.advantage {
			padding: 0;
			list-style: none;
			margin: 0 0 20px 0;

			li {
				font-size: 16px;
				font-weight: 300;
				line-height: 20px;
				position: relative;
				margin-bottom: 10px;

				&:before {
					left: 0;
					top: 8px;
					width: 4px;
					height: 4px;
					content: '';
					display: none;
					background: #fff;
					position: absolute;
					@include border-radius(50%);
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	.footer-bottom {

		.footer-info {
			font-size: 12px;
			font-weight: 300;
			line-height: 16px;
			margin-bottom: 15px;
			@include opacity(0.3);
		}

		.footer-dev {
			outline: none;
			display: inline-block;
		}
	}

	@media (min-width: $screen-sm-min) {

		text-align: left;

		.footer-top {

			.advantage {
				margin-bottom: 0;

				li {
					padding-left: 18px;

					&:before {
						display: inline-block;
					}
				}
			}

			.btn {
				width: 100%;
				margin-top: 10px;
			}
		}

		.footer-bottom {

			.footer-info {
				margin-bottom: 0;
			}

			.footer-dev {
				float: right;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.footer-top {

			.advantage {

				li {
					margin-bottom: 15px;
				}
			}

			.btn {
				margin-top: 0;
			}
		}
	}


	@media (min-width: $screen-lg-min) {

		.footer-top {

			.advantage {

				li {
					font-size: 20px;
					line-height: 25px;
				}
			}

			.footer-text {
				margin-top: 30px;
			}

			.btn {
				margin-top: 20px;
			}
		}
	}
}