.btn-brown {
	margin:0;
	color: #13233a;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
	position: relative;
	padding: 21px 30px;
	background: #d1ae52;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	text-transform: uppercase;
	touch-action: manipulation;
	@include transition(.2s);

	&:hover {
		color: #13233a;
		background: #fdbb0f;
		text-decoration: none;
	}

	&:active {
		top: 1px;
	}
}


.btn {
	margin:0;
	color: #fff;
	outline: none;
	cursor: pointer;
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
	padding: 10px 24px;
	text-align: center;
	position: relative;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	background: transparent;
	text-transform: uppercase;
	touch-action: manipulation;
	border: 1px solid #fff;
	@include transition(.2s);

	&:hover {
		color: #203759;
		background: #fff;
		text-decoration: none;
	}

	&:active {
		top: 1px;
	}
}
